footer {
    background-color: #FFF;
    height: 60px;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
