body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
<<<<<<< HEAD
}
=======
}
>>>>>>> 274726ae0b8e15d271aa0e67bbc155a44d4d0a87
