footer {
    background-color: white;
    height:60px;
    width:100%;
    border-top: 1px solid #CCCCCC;

    bottom: 0;
}

p {
    text-align:center;
    line-height:30px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 274726ae0b8e15d271aa0e67bbc155a44d4d0a87
