body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body .container{
    max-width: 1000px;
    margin: 30px auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 274726ae0b8e15d271aa0e67bbc155a44d4d0a87
